
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers</h1>

        <h2 class="govuk-heading-m">Your tasks</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Serve application and documents
            </dt>
            <dd class="govuk-summary-list__value">
              Complete
            </dd>
            <dd class="govuk-summary-list__value">
              All parties were served on 31st May 2019.
            </dd>
            <dd class="govuk-summary-list__value">
              file.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Send missing annex documents
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
              Care plan will be ready by 2 June
            </dd>
            <dd class="govuk-summary-list__value">
              checklist.pdf
              <br>
              familytree.pdf
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Send case summary and draft case management order
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Lodge a bundle
            </dt>
            <dd class="govuk-summary-list__value">
              Inomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <br>

        <h2 class="govuk-heading-m">Any parties tasks</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Attend the case management hearing
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Attend pre-hearing discussions
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact alternative carers
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete

            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__value">
              We cant do this yet because the father is out of the country
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ask for disclosure (releasing information relevant to the case)
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Object to a request for disclosure (releasing information relevant to the case)
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Get a residential assessment (observing the family in an official facility)
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request permission for expert evidence
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Request help with taking part in proceedings
            </dt>
            <dd class="govuk-summary-list__value">
              Incomplete
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>


          <button type="submit" class="govuk-button">
            Save
          </button>


      </div>
    </div>
  </main>
</div>

{% endblock %}
