

{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft case management order</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <p>Do you want to include a schedule?</p>

              <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                <!-- Yes -->

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="serve-application-and-documents-yes" name="serve-application-and-documents-status" type="radio" value="Complete" data-aria-controls="serve-application-yes">
                  <label class="govuk-label govuk-radios__label" for="serve-application-and-documents-yes">
                    Yes
                  </label>
                </div>

                <!-- No -->

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-no" name="serve-application-and-documents-status" type="radio" value="Incomplete" data-aria-controls="serve-application-no" >
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    No
                  </label>
                </div>

                <!-- Contidtional yes -->

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="serve-application-yes">

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Allocation
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Application
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Today's hearing
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Children's current arrangements
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Timetable for proceedings (26 weeks)
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Timetable for the childen
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Alternative carers
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Threshold
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Key issues
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="serve-application-give-details">
                      Parties' positions
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>

              </div>

              <br>


            <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
            <a href="declaration" class="govuk-button" style="font-size: 19px !important;">Continue</a>

            <p><a href="">Cancel</a></p>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
