
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">

              <h1 class="govuk-heading-xl">Add a related case</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <form action="check-my-answers" method="post" class="form">

                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                  <div class="" id="serve-application-no">

                    <form action="check-my-answers" method="post" class="form">

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="more-detail">
                          Case number
                        </label>
                        <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="more-detail">
                          Reason for adding related case
                        </label>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      </form>
                  </div>
                </fieldset>

                <br>

              <button class="govuk-button govuk-button--secondary" disabled="disabled" aria-disabled="true">Previous</button>
              <a href="ccd-buffer" class="govuk-button" style="font-size: 19px !important;">Continue</a>

              <p><a href="">Cancel</a></p>

            </form>

          </div>

      </div>

    </main>

  </div>

</div>


{% endblock %}
