
{% extends "layout.html" %}

<!-- <link rel="stylesheet" type="text/css" href="public/stylesheets/full-width.css"> -->


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">#1545-3874-6217-4575</h1>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group ccd-dropdown">
          <label class="govuk-label" for="sort">
            Next step
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="">Select action</option>
            <option value="">Send to gatekeeper</option>
            <option value="">Documents</option>
            <option value="">Add case number</option>
            <option value="">Add hearing details</option>
            <option value="">Send notice of proceedings (c6)</option>
            <option value="">Send statement of service (c9)</option>
          </select>
          <a href="complete-tasks" class="govuk-button">Go</a>
        </div>
      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-tabs" data-module="tabs">

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#overview">
                Overview
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#hearings">
                Hearings
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#orders">
                Orders
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#people">
                People in the case
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#legal-basis">
                Legal basis
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#documents">
                Documents
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#history">
                History
              </a>
            </li>
          </ul>


          <section class="govuk-tabs__panel" id="overview">

          </section>

          <section class="govuk-tabs__panel" id="hearings">

            <table class="govuk-table ccd-table">
              <caption class="govuk-table__caption ccd-table-head">Hearing on the 15 September 2019</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Type of hearing</td>
                  <td class="govuk-table__cell">Case management</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Date</td>
                  <td class="govuk-table__cell">15 September 2019</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Pre-hearing attendance</td>
                  <td class="govuk-table__cell">1:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Time of hearing</td>
                  <td class="govuk-table__cell">2:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Venue</td>
                  <td class="govuk-table__cell">Family Court Swansea</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Judge</td>
                  <td class="govuk-table__cell">HHJ Malcolm Sharpe </td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Additional hearing needs</td>
                  <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                </tr>
              </tbody>
            </table>

            <table class="govuk-table ccd-table">
              <caption class="govuk-table__caption ccd-table-head">Hearing on the 20 September 2019</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Type of hearing</td>
                  <td class="govuk-table__cell">Further case management</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Date</td>
                  <td class="govuk-table__cell">20 September 2019</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Pre-hearing attendance</td>
                  <td class="govuk-table__cell">1:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Time of hearing</td>
                  <td class="govuk-table__cell">2:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Venue</td>
                  <td class="govuk-table__cell">Family Court Swansea</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Judge</td>
                  <td class="govuk-table__cell">HHJ Malcolm Sharpe </td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Additional hearing needs</td>
                  <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                </tr>
              </tbody>
            </table>

            <table class="govuk-table ccd-table">
              <caption class="govuk-table__caption ccd-table-head">Hearing on the 25 September 2019</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Type of hearing</td>
                  <td class="govuk-table__cell">Issue resolution</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Date</td>
                  <td class="govuk-table__cell">25 September 2019</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Pre-hearing attendance</td>
                  <td class="govuk-table__cell">1:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Time of hearing</td>
                  <td class="govuk-table__cell">2:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Venue</td>
                  <td class="govuk-table__cell">Family Court Swansea</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Judge</td>
                  <td class="govuk-table__cell">HHJ Malcolm Sharpe </td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Additional hearing needs</td>
                  <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                </tr>
              </tbody>
            </table>

            <table class="govuk-table ccd-table">
              <caption class="govuk-table__caption ccd-table-head">Hearing on the 30 September 2019</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Type of hearing</td>
                  <td class="govuk-table__cell">Final hearing</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Date</td>
                  <td class="govuk-table__cell">30 September 2019</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Pre-hearing attendance</td>
                  <td class="govuk-table__cell">1:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Time of hearing</td>
                  <td class="govuk-table__cell">2:30pm</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Venue</td>
                  <td class="govuk-table__cell">Family Court Swansea</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Judge</td>
                  <td class="govuk-table__cell">HHJ Malcolm Sharpe </td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Additional hearing needs</td>
                  <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                </tr>
              </tbody>
            </table>

            <table class="govuk-table ccd-table">
              <caption class="govuk-table__caption ccd-table-head">Hearing needed</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">When do you need a hearing? </td>
                  <td class="govuk-table__cell">Within 2 days</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Give reason and proposed dates</td>
                  <td class="govuk-table__cell">Test</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">What type of hearing do you need?</td>
                  <td class="govuk-table__cell">Standard case management hearing</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Give reason</td>
                  <td class="govuk-table__cell">Test</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Do you need a without notice hearing?</td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Give reason</td>
                  <td class="govuk-table__cell">Test</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Do you need a hearing with reduced notice?</td>
                  <td class="govuk-table__cell">Test</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Give reason</td>
                  <td class="govuk-table__cell">Test</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Are respondents aware of proceedings?</td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-header">Give respondent’s views on proceedings </td>
                  <td class="govuk-table__cell">Test</td>
                </tr>
              </tbody>
            </table>

          </section>

      <section class="govuk-tabs__panel" id="orders">

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Orders and directions needed</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Which orders do you need? </td>
              <td class="govuk-table__cell">Interim supervision order </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Do you need any of these related orders? </td>
              <td class="govuk-table__cell">Other order under section 48 or the Children Act 1989</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details</td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Do you need any of these directions? </td>
              <td class="govuk-table__cell">Other direction relating to an emergency protection order</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details</td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Which order do you need? </td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Do you need any other directions</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details</td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
        </table>


      </section>

      <section class="govuk-tabs__panel" id="people">

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Children</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">
                <table class="govuk-table ccd-table">
                  <caption class="govuk-table__caption ccd-table-head">Child 1</caption>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__cell">Child's full name</th>
                      <td class="govuk-table__cell">Danielle Robinson</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Date of birth</td>
                      <td class="govuk-table__cell">11 April 2015</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Gender</td>
                      <td class="govuk-table__cell">Girl</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Describe child's situaton</td>
                      <td class="govuk-table__cell">In hospital, soon to be discharged</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="2">
                        <table class="govuk-table ccd-table">
                          <tbody class="govuk-table__body nested-row">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__cell">Current address</th>
                              <th class="govuk-table__cell"></th>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__cell">Building and Street</th>
                              <td class="govuk-table__cell">1</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell">Upper Cresent</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Town or City</td>
                              <td class="govuk-table__cell">Belfast</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Postcode/Zipcode</td>
                              <td class="govuk-table__cell">BT7 1N7</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Postcode/Zipcode</td>
                              <td class="govuk-table__cell">BT7 1N7</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>

                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Example...</td>
                      <td class="govuk-table__cell">Example...</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Key dates for this child</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Brief summary of care and contact plan</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Are you considering adoption at this stage?</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Are you submitted and application for a placement order? </td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Which court are you applying to? </td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Mother's full name</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Father's full name</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Does the father have parental responsibility?</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Name of social worker</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Social words telephone number</td>
                      <td class="govuk-table__cell">test</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Does the child have any additional needs?</td>
                      <td class="govuk-table__cell">No</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Do you need contact details hidden from other parties?</td>
                      <td class="govuk-table__cell">No</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Do you believe this child will have problems with litigation capacity (understanding what’s happening in the case)?</td>
                      <td class="govuk-table__cell">No</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>




        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Respondents</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">
                <table class="govuk-table ccd-table">
                  <caption class="govuk-table__caption ccd-table-head">Respondent 1</caption>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__cell">Child's full name</th>
                      <td class="govuk-table__cell">Danielle Robinson</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Date of birth</td>
                      <td class="govuk-table__cell">11 April 2015</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Gender</td>
                      <td class="govuk-table__cell">Girl</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Describe child's situaton</td>
                      <td class="govuk-table__cell">In hospital, soon to be discharged</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Describe child's situaton</td>
                      <td class="govuk-table__cell">In hospital, soon to be discharged</td>
                    </tr>
                  </tbody>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="2">
                        <table class="govuk-table ccd-table">
                          <tbody class="govuk-table__body nested-row">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__cell">Current address</th>
                              <th class="govuk-table__cell"></th>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th class="govuk-table__cell">Building and Street</th>
                              <td class="govuk-table__cell">1</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell">Upper Cresent</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Town or City</td>
                              <td class="govuk-table__cell">Belfast</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Postcode/Zipcode</td>
                              <td class="govuk-table__cell">BT7 1N7</td>
                            </tr>
                          </tbody>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Postcode/Zipcode</td>
                              <td class="govuk-table__cell">BT7 1N7</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>

                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Example...</td>
                      <td class="govuk-table__cell">Example...</td>
                    </tr>
                  </tbody>

                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Applicant </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Example...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Solicitor</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Example...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Others to be given notice</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Example...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>



      </section>

      <section class="govuk-tabs__panel" id="legal-basis">

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">How are there grounds for an emergency protection order?</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Case date...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">How does this case meet the threshold criteria</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Case date...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Risks and harm to children </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Case date...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Factors affecting parenting </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Case date...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">International element </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Case date...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Other proceedings</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Case date...</td>
              <td class="govuk-table__cell">Example...</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Allocation proposal</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Which level of judge do you recommend for this case? </td>
              <td class="govuk-table__cell">District judge</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give reason</td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">Attending the hearing</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Interpretor </td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details including person, language and dialect</td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Spoken or written Welsh </td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details </td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Intermediary</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details </td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Facilities or assistance for a disability</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details</td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Separate waiting room or other security measures</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details </td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Something else </td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-header">Give details </td>
              <td class="govuk-table__cell">Test</td>
            </tr>
          </tbody>
        </table>

      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="documents">

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">1. Social work chronology</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Document status</th>
              <td class="govuk-table__cell">Included in social work evidence template (SWET)</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">2. Social work statement and genogram</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Document status</th>
              <td class="govuk-table__cell">To follow</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Explain why the document isn’t included and when you expect to provide it</th>
              <td class="govuk-table__cell">Reason</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">3. Social work assessment </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Document status</th>
              <td class="govuk-table__cell">Attached</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">4. Care plan</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Document status</th>
              <td class="govuk-table__cell">Attached</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">5. Social work evidence template (SWET)</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Document status</th>
              <td class="govuk-table__cell">Attached</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">6. Threshold document</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Document status</th>
              <td class="govuk-table__cell">Included in social work evidence template (SWET)</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="govuk-table ccd-table">
          <caption class="govuk-table__caption ccd-table-head">7. Checklist document </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Document status</th>
              <td class="govuk-table__cell">Included in social work evidence template (SWET)</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Additional documents</th>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Attatched PDF</th>
              <td class="govuk-table__cell"><a href="">name_vs_case.pdf</a></td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">Notice of proceedings (c6)</th>
              <td class="govuk-table__cell"><a href="">Notice_of_proceedings_(c6).pdf</a></td>
            </tr>
          </tbody>
        </table>

      </section>

      <section class="govuk-tabs__panel" id="history">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-m">History</h3>

          <table class="govuk-table history-table" id="rowClick">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Event</th>
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col">Author</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body" id="history-row-click">
              <tr class="govuk-table__row history-row active" data-tab="one">
                <td class="govuk-table__cell"><a href="">Open case</a></td>
                <td class="govuk-table__cell">3 Jan 2019 3:48 24 PM</td>
                <td class="govuk-table__cell">Tester TESTER</td>
              </tr>
              <tr class="govuk-table__row history-row" data-tab="two">
                <td class="govuk-table__cell"><a href="">Event name</a></td>
                <td class="govuk-table__cell">Date</td>
                <td class="govuk-table__cell">Author</td>
              </tr>
              <tr class="govuk-table__row history-row" data-tab="three">
                <td class="govuk-table__cell"><a href="">Event name</a></td>
                <td class="govuk-table__cell">Date</td>
                <td class="govuk-table__cell">Author</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="details-content" id="one">
          <div class="govuk-grid-column-one-half details-table" >
          <h3 class="govuk-heading-m">Details</h3>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row history-row active" data-tab="one">
                <td class="govuk-table__cell">Date</td>
                <td class="govuk-table__cell">10 Dec 2018 2:55 24 PM</td>
              </tr>
              <tr class="govuk-table__row history-row">
                <td class="govuk-table__cell">Author</td>
                <td class="govuk-table__cell">Judge</td>
              </tr>
              <tr class="govuk-table__row history-row">
                <td class="govuk-table__cell">End state</td>
                <td class="govuk-table__cell">Open</td>
              </tr>
              <tr class="govuk-table__row history-row">
                <td class="govuk-table__cell">Event</td>
                <td class="govuk-table__cell">Open case</td>
              </tr>
              <tr class="govuk-table__row history-row">
                <td class="govuk-table__cell">Summary</td>
                <td class="govuk-table__cell">-</td>
              </tr>
              <tr class="govuk-table__row history-row">
                <td class="govuk-table__cell">Comment</td>
                <td class="govuk-table__cell">-</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <div class="details-content" id="two">
        <div class="govuk-grid-column-one-half details-table" >
        <h3 class="govuk-heading-m">Details</h3>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row history-row" data-tab="one">
              <td class="govuk-table__cell">Date</td>
              <td class="govuk-table__cell">12 Dec 2018 9:15 AM</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Author</td>
              <td class="govuk-table__cell">Local authority</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">End state</td>
              <td class="govuk-table__cell">Open</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Event</td>
              <td class="govuk-table__cell">Open case</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Summary</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Comment</td>
              <td class="govuk-table__cell">-</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>


    <div class="details-content" id="three">
      <div class="govuk-grid-column-one-half details-table" >
      <h3 class="govuk-heading-m">Details</h3>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row history-row" data-tab="one">
              <td class="govuk-table__cell">Date</td>
              <td class="govuk-table__cell">3 Jan 2019 3:48 24 PM</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Author</td>
              <td class="govuk-table__cell">Tester TESTER</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">End state</td>
              <td class="govuk-table__cell">Open</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Event</td>
              <td class="govuk-table__cell">Open case</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Summary</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row history-row">
              <td class="govuk-table__cell">Comment</td>
              <td class="govuk-table__cell">-</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>

  </section>

    </div>

  </div>

  </div>

</main>
</div>

{% endblock %}
