
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Swansea Council v Pope</span>
        <h1 class="govuk-heading-xl">Case number: 8764589</h1>

        <div class="govuk-tabs" data-module="tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
                Summary
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tasks">
                Tasks
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#documents">
                Documents
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="summary">
            <h2 class="govuk-heading-l">Case summary</h2>
            <p>The case management hearing will be on 20 June 2019 at 3:30pm. The expected length of hearing  is 2 hours.<p>
            <p>The 26 week time limit expires on 1 September 2019.</p>
            <p>The case management judge is Circuit Judge Malcolm Sharpe.</p>

            <h2 class="govuk-heading-l">Children</h2>
            <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Jim Reeves</td>
                  <td class="govuk-table__cell">boy</td>
                  <td class="govuk-table__cell">date of birth 9 April 2005</td>
                  <td class="govuk-table__cell">Age 13</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Beth Reeves</td>
                  <td class="govuk-table__cell">girl</td>
                  <td class="govuk-table__cell">date of birth 6 November 2018</td>
                  <td class="govuk-table__cell">Age 6 months</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-l">Parties</h2>
            <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Applicant</th>
                  <td class="govuk-table__cell">London Borough of Southwark</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">First respondent</th>
                  <td class="govuk-table__cell">Isabella Reeves</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Second respondent</th>
                  <td class="govuk-table__cell">Rob Reeves</td>
                </tr>
              </tbody>

            </table>




          </section>

          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tasks">

            <h2 class="govuk-heading-l">My tasks</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Task</th>
                  <th class="govuk-table__header" scope="col">Assigned to</th>
                  <th class="govuk-table__header" scope="col">Due date</th>
                  <th class="govuk-table__header" scope="col">Status</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="comply">Draft the Case Management Order</a></td>
                  <td class="govuk-table__cell">Local authority</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>

                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="comply">Send application and documents</a></td>
                  <td class="govuk-table__cell">Local authority</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="comply">Send a case summary and draft case management order</a></td>
                  <td class="govuk-table__cell">Local authority</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="comply">Lodge the bundle</a></td>
                  <td class="govuk-table__cell">Local authority</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="comply">Do forward planning</a></td>
                  <td class="govuk-table__cell">Local authority</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-l">Other parties tasks</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Task</th>
                  <th class="govuk-table__header" scope="col">Assigned to</th>
                  <th class="govuk-table__header" scope="col">Due date</th>
                  <th class="govuk-table__header" scope="col">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="view-task">Appoint a children’s guardian</a></td>
                  <td class="govuk-table__cell">Cafcass</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag">complete</strong></td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Send children’s guardian analysis</td>
                  <td class="govuk-table__cell">Cafcass</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Arrange an advocate’s meeting</td>
                  <td class="govuk-table__cell">Child's solicitor</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Send parents’ response to threshold statement</td>
                  <td class="govuk-table__cell">Parent's solicitor</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Get an assessment on mental capacity</td>
                  <td class="govuk-table__cell">Parent's solicitor</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Send mental capacity report to the Official Solicitor</td>
                  <td class="govuk-table__cell">Parent's solicitor</td>
                  <td class="govuk-table__cell">11 April 2019</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background-color: #bfc1c3;">Incomplete</strong></td>
                </tr>
              </tbody>

            </table>

          </section>

          <section class="govuk-tabs__panel" id="documents">
            <h2 class="govuk-heading-l">Documents</h2>

            <div class="govuk-width-container">
              <a href="#" class="govuk-back-link">Back</a>

                <main class="govuk-main-wrapper">

                  <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-third">
                      <h2 class="govuk-heading-m">Documents</h2>
                      <a href="">Standard Directions</a>

                    </div>

                    <div class="govuk-grid-column-two-thirds" style="background-color: #f8f8f8; height: 1000px;">
                      <br>
                      <p>Sample</p>
                    </div>

                  </div>

                </main>
              </div>

          </section>

        </div>

      </div>
    </div>

  </main>
</div>

{% endblock %}
