
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Swansea Council v Pope</span>
        <h1 class="govuk-heading-xl">Case number: 8764589</h1>

        <div class="govuk-tabs" data-module="tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
                Summary
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tasks">
                Tasks
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#documents">
                Documents
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="summary">
            <h2 class="govuk-heading-l">Case summary</h2>
            <p>The case management hearing will be on 20 June 2019 at 3:30pm. The expected length of hearing  is 2 hours.<p>
            <p>The 26 week time limit expires on 1 September 2019.</p>
            <p>The case management judge is Circuit Judge Malcolm Sharpe.</p>

            <h2 class="govuk-heading-l">Children</h2>
            <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Jim Reeves</td>
                  <td class="govuk-table__cell">boy</td>
                  <td class="govuk-table__cell">date of birth 9 April 2005</td>
                  <td class="govuk-table__cell">Age 13</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Beth Reeves</td>
                  <td class="govuk-table__cell">girl</td>
                  <td class="govuk-table__cell">date of birth 6 November 2018</td>
                  <td class="govuk-table__cell">Age 6 months</td>
                </tr>
              </tbody>
            </table>

            <h2 class="govuk-heading-l">Parties</h2>
            <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Applicant</th>
                  <td class="govuk-table__cell">London Borough of Southwark</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">First respondent</th>
                  <td class="govuk-table__cell">Isabella Reeves</td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell">Second respondent</th>
                  <td class="govuk-table__cell">Rob Reeves</td>
                </tr>
              </tbody>

            </table>
          </section>

          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tasks">

          <h2 class="govuk-heading-l">
            Tasks
          </h2>

          <ol class="app-task-list">
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Local Authority
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="comply" aria-describedby="company-information-completed">
                    Draft the Case Management Order
                  </a>
                  <strong style="background-color: #bfc1c3;" class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Incomplete</strong>
                </li>
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="comply" aria-describedby="contact-details-completed">
                    Send application and documents
                  </a>
                  <strong style="background-color: #bfc1c3;" class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Incomplete</strong>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Cafcass
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="view-task" aria-describedby="company-information-completed">
                    Appoint a children’s guardian
                  </a>
                  <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
                </li>
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="comply" aria-describedby="contact-details-completed">
                    Send children’s guardian analysis
                  </a>
                  <strong style="background-color: #bfc1c3;" class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Incomplete</strong>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">3. </span> Child’s solicitor
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="comply">
                    Arrange an advocate’s meeting
                  </a>
                  <strong style="background-color: #bfc1c3;" class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Incomplete</strong>
                </li>
              </ul>
            </li>
          </ol>

          </section>

          <section class="govuk-tabs__panel" id="documents">
            <h2 class="govuk-heading-l">Documents</h2>

            <div class="govuk-width-container">
              <a href="#" class="govuk-back-link">Back</a>

                <main class="govuk-main-wrapper">

                  <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-third">
                      <h2 class="govuk-heading-m">Documents</h2>
                      <a href="">Standard Directions</a>

                    </div>

                    <div class="govuk-grid-column-two-thirds" style="background-color: #f8f8f8; height: 1000px;">
                      <br>
                      <p>Sample</p>
                    </div>

                  </div>

                </main>
              </div>

          </section>

        </div>

      </div>
    </div>

  </main>
</div>


{% endblock %}
