
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Create an order (c21)</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <h3 class="govuk-heading-m">Create an order (c21)</h3>


              <form method="post" class="form">

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      It is directed that:
                    </label>
                    <input class="govuk-input" type="text" name="">
                    <br>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Direction details
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>

                <button class="govuk-button govuk-button--secondary" disabled="disabled" aria-disabled="true">Previous</button>
                <a href="complete-tasks-3" class="govuk-button" style="font-size: 19px !important;">Continue</a>

                <p><a href="">Cancel</a></p>


            </form>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
