
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft standard directions</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <form method="post" class="form">

                <h3 class="govuk-heading-m">Directions for the court (Optional)</h3>

                <div class="govuk-inset-text">

                  <h4 class="govuk-heading-s">Directions (Optional)</h4>

                  <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showHearingOne()" />

                  <!-- Direction 20 -->

                  <form method="post" class="form">

                    <div class="answer_list" >
                      <h4 class="govuk-heading-s inline-block">Direction 20</h4>
                      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Direction
                        </label>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Arrange an interpreter</textarea>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Description
                        </label>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">The court must arrange an interpreter in [language] for [name] at all hearings.</textarea>
                      </div>


                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                          <label class="govuk-label" for="contact-by-phone">
                            Due date
                          </label>
                          <span id="" class="govuk-hint">
                            For example, 31 3 2016
                          </span>
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="11">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="6">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="2019">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-10">
                          Due time
                        </label>
                        <span id="passport-issued-hint" class="govuk-hint">
                          For example, 2:30pm
                        </span>
                        <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="11:00am">
                      </div>

                    </div>

                  </form>

                  <!-- Second additional hearing   -->

                  <br>

                  <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showHearingOne()" />


                    </div>

                    <button class="govuk-button govuk-button--secondary" disabled="disabled" aria-disabled="true">Previous</button>
                    <a href="ccd-buffer" class="govuk-button" style="font-size: 19px !important;">Continue</a>

                    <p><a href="">Cancel</a></p>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
