
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft standard directions</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <form method="post" class="form">

                <h3 class="govuk-heading-m">Directions for the local authority (Optional)</h3>

                <div class="govuk-inset-text">

                  <h4 class="govuk-heading-s">Directions (Optional)</h4>

                  <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showHearingOne()" />

                <!-- Direction 8 -->

              <form method="post" class="form">

                <div class="answer_list" >
                  <h4 class="govuk-heading-s inline-block">Direction 1</h4>
                  <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Direction
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Serve application and documents</textarea>
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Description
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Give all parties access to all documents sent to the court, including: the application form, annex documents, evidential checklist documents, any documents sent later on.</textarea>
                  </div>


                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                      <label class="govuk-label" for="contact-by-phone">
                        Due date
                      </label>
                      <span id="" class="govuk-hint">
                        For example, 31 3 2016
                      </span>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10">
                      Due time
                    </label>
                    <span id="passport-issued-hint" class="govuk-hint">
                      For example, 2:30pm
                    </span>
                    <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
                  </div>

                </div>

              </form>

              <br>
              <!-- Direction 9 -->

              <form method="post" class="form">

              <div class="answer_list" >
                <h4 class="govuk-heading-s inline-block">Direction 2</h4>
                <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Direction
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Send missing annex documents to the court and all parties</textarea>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Description
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Send the following documents: Social work chronology, Social work statement, Family tree (genogram), Social work assessment, Care plan, Threshold document, Index of checklist documents</textarea>
                </div>


                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                    <label class="govuk-label" for="contact-by-phone">
                      Due date
                    </label>
                    <span id="" class="govuk-hint">
                      For example, 31 3 2016
                    </span>
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-10">
                    Due time
                  </label>
                  <span id="passport-issued-hint" class="govuk-hint">
                    For example, 2:30pm
                  </span>
                  <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
                </div>

              </div>

            </form>

            <br>
            <!-- Direction 10 -->

            <form method="post" class="form">

            <div class="answer_list" >
              <h4 class="govuk-heading-s inline-block">Direction 3</h4>
              <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
              <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                  Direction
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Identify alternative carers</textarea>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                  Description
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Contact the parents to make sure there is a complete family tree showing family members who could be alternative carers.</textarea>
              </div>


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                  <label class="govuk-label" for="contact-by-phone">
                    Due date
                  </label>
                  <span id="" class="govuk-hint">
                    For example, 31 3 2016
                  </span>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="width-10">
                  Due time
                </label>
                <span id="passport-issued-hint" class="govuk-hint">
                  For example, 2:30pm
                </span>
                <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
              </div>

            </div>

          </form>


          <br>
          <!-- Direction 11 -->

          <form method="post" class="form">

          <div class="answer_list" >
            <h4 class="govuk-heading-s inline-block">Direction 4</h4>
            <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Direction
              </label>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Send translated case documents to [name]</textarea>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Description
              </label>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">The local authority must send translations of case documents to [name] in a language they understand. This must include documents that the local authority relies on to support allegations and explain why they have made their application for an order.</textarea>
            </div>


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                <label class="govuk-label" for="contact-by-phone">
                  Due date
                </label>
                <span id="" class="govuk-hint">
                  For example, 31 3 2016
                </span>
                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Due time
              </label>
              <span id="passport-issued-hint" class="govuk-hint">
                For example, 2:30pm
              </span>
              <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
            </div>

          </div>

        </form>

        <br>
        <!-- Direction 12 -->

        <form method="post" class="form">

        <div class="answer_list" >
          <h4 class="govuk-heading-s inline-block">Direction 5</h4>
          <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Direction
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Lodge a bundle</textarea>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Description
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">It must comply with practice direction 27A from Family Procedure Rules 2010.</textarea>
          </div>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
              <label class="govuk-label" for="contact-by-phone">
                Due date
              </label>
              <span id="" class="govuk-hint">
                For example, 31 3 2016
              </span>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="width-10">
              Due time
            </label>
            <span id="passport-issued-hint" class="govuk-hint">
              For example, 2:30pm
            </span>
            <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
          </div>

        </div>

      </form>

      <br>
      <!-- Direction 13 -->

      <form method="post" class="form">

      <div class="answer_list" >
        <h4 class="govuk-heading-s inline-block">Direction 6</h4>
        <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Direction
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Send case summary to all parties</textarea>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Description
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Send to the court and all parties.</textarea>
        </div>



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
            <label class="govuk-label" for="contact-by-phone">
              Due date
            </label>
            <span id="" class="govuk-hint">
              For example, 31 3 2016
            </span>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Due time
          </label>
          <span id="passport-issued-hint" class="govuk-hint">
            For example, 2:30pm
          </span>
          <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
        </div>

      </div>

    </form>

    <br>
    <!-- Direction 14 -->

    <form method="post" class="form">

    <div class="answer_list" >
      <h4 class="govuk-heading-s inline-block">Direction 7</h4>
      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Direction
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Bring adoption plans to the hearing</textarea>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Description
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Bring any information to the case management hearing about any forward planning for adoption you have done for the child. Include evidence that you have: completed preliminary paperwork, made a request for an adoption medical, Also include: dates for panel medicals, dates for panel meetings, the date when the plan will be considered by the agency decision maker</textarea>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
          <label class="govuk-label" for="contact-by-phone">
            Due date
          </label>
          <span id="" class="govuk-hint">
            For example, 31 3 2016
          </span>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
          Due time
        </label>
        <span id="passport-issued-hint" class="govuk-hint">
          For example, 2:30pm
        </span>
        <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
      </div>

    </div>

  </form>

  <br>

      <!-- Direction 15 -->

      <form method="post" class="form">

      <div class="answer_list" >
        <h4 class="govuk-heading-s inline-block">Direction 8</h4>
        <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Direction
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">If there is an issue with jurisdiction</textarea>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Description
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">The court is satisfied it has jurisdiction based on where the children normally live. If there is an issue, consider it urgently. Ask the relevant state authority for information needed to decide where jurisdiction lies. Bring this information to the case management hearing. If the child is a foreign national, tell the [consulate/embassy] in writing that these proceedings are happening and the date of the next hearing by 11am, 9 June 2019. Invite any representations to be made to the court by 11am, 11 June 2019.</textarea>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
            <label class="govuk-label" for="contact-by-phone">
              Due date
            </label>
            <span id="" class="govuk-hint">
              For example, 31 3 2016
            </span>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Due time
          </label>
          <span id="passport-issued-hint" class="govuk-hint">
            For example, 2:30pm
          </span>
          <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
        </div>

      </div>

    </form>

    <br>

    <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showHearingOne()" />


      </div>

      <button class="govuk-button govuk-button--secondary" disabled="disabled" aria-disabled="true">Previous</button>
      <a href="parents-tasks" class="govuk-button" style="font-size: 19px !important;">Continue</a>

      <p><a href="">Cancel</a></p>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
