
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers</h1>
        <br>
        <h1 class="govuk-heading-xl">#1545-3874-6217-4575</h1>
        <br>
        <h2 class="govuk-heading-m">Your tasks</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['serve-application-and-documents-status'] }}
            </dd>
            <dd class="govuk-summary-list__value">
              {{ data['serve-application-give-details-yes'] }}
            </dd>
            <dd class="govuk-summary-list__value">
              <a href="">{{ data['file-upload-1'] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <form action="case-view" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>
<div>
{% endblock %}
