
{% extends "layout-admin.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

          <span class="govuk-caption-xl">Issue standard directions</span>
          <h1 class="govuk-heading-xl">For Cafcass</h1>


          <!-- <div class="govuk-inset-text">
            The next hearing is on 15 September at 2:30pm.
          </div> -->


          <div class="govuk-checkboxes custom-checkbox-table">
            <dl class="govuk-summary-list govuk-!-margin-bottom-3">
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value width-1">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">

                    </label>
                  </div>
                </dd>
                <dt class="govuk-summary-list__key direction-body">
                  Direction
                </dt>
                <dd class="govuk-summary-list__actions direction-text-right bold">
                  	Due date and time
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value width-1">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">

                    </label>
                  </div>
                </dd>
                <dt class="govuk-summary-list__key direction-body">
                  Arrange an advocates' meeting
                </dt>
                <dd class="govuk-summary-list__actions direction-text-right">
                  15 September at 2:30pm
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-direction">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value width-1">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">

                    </label>
                  </div>
                </dd>
                <dt class="govuk-summary-list__key direction-body">
                  Send the guardian's analysis to all parties
                </dt>
                <dd class="govuk-summary-list__actions direction-text-right">
                  15 September at 2:30pm
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-direction">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value width-1">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">

                    </label>
                  </div>
                </dd>
                <dt class="govuk-summary-list__key direction-body">
                  Appoint a children's guardian
                </dt>
                <dd class="govuk-summary-list__actions direction-text-right">
                  15 September at 2:30pm
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-direction">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>



            </dl>

            <button class="govuk-button govuk-button--secondary" aria-disabled="true">Add another direction</button>

          </div>


          <a href="other-parties" class="govuk-button" style="font-size: 19px !important;">Save and continue</a>

        </main>

      </div>

    </div>


    {% endblock %}
