
{% extends "layout-admin.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

          <span class="govuk-caption-xl">Issue standard directions</span>
          <h1 class="govuk-heading-xl">For the local authority</h1>


          <!-- <div class="govuk-inset-text">
            The next hearing is on 15 September at 2:30pm.
          </div> -->


  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <div class="govuk-checkboxes">

          <table class="govuk-table sdo-manage-items">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">

                  </label>
                </div>
              </th>
                <th scope="col" class="govuk-table__header">Direction</th>
                <th scope="col" class="govuk-table__header">Due date and time</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 1px !important;">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">

                    </label>
                  </div>
                </th>
                <td scope="row" class="govuk-table__header">Send documents to all parties
                <br><br>
                <span style="font-weight: normal;">
                  <p class="govuk-body">Including</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>The application form</li>
                    <li>Annex documents</li>
                    <li>Evidential checklist documents</li>
                    <li>Any documents sent later on</li>
                  </ul>
                </span>
                </td>
                <td class="govuk-table__cell">15 September at 2:30pm</td>
                <td class="govuk-table__cell"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">

                    </label>
                  </div>
                </th>
                <td scope="row" class="govuk-table__header">Send missing annex documents to the court and all parties
                  <br><br>
                  <span style="font-weight: normal;">
                    <p class="govuk-body">Including</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Social work chronology</li>
                      <li>Social work statement</li>
                      <li>Family tree (genogram)</li>
                      <li>Social work assessment</li>
                      <li>Care plan</li>
                      <li>Threshold document</li>
                      <li>Index of checklist documents</li>
                    </ul>
                  </span>
                  </td>
                <td class="govuk-table__cell">15 September at 2:30pm</td>
                <td class="govuk-table__cell"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                    </label>
                  </div>
                </th>
                <td scope="row" class="govuk-table__header">Identify alternative carers</td>
                <td class="govuk-table__cell">15 September at 2:30pm</td>
                <td class="govuk-table__cell"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                    </label>
                  </div>
                </th>
                <td scope="row" class="govuk-table__header">Send translated case documents to respondents
                <br>
                <span style="font-weight: normal;">
                  <strong class="govuk-tag govuk-tag--grey" style="color: #144e81;background: #d2e2f1;">Add details</strong>
                </span>

                </td>
                <td class="govuk-table__cell">15 September at 2:30pm</td>
                <td class="govuk-table__cell"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                    </label>
                  </div>
                </th>
                <td scope="row" class="govuk-table__header">Lodge a bundle</td>
                <td class="govuk-table__cell">15 September at 2:30pm</td>
                <td class="govuk-table__cell"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                    </label>
                  </div>
                </th>
                <td scope="row" class="govuk-table__header">Send case summary to all parties</td>
                <td class="govuk-table__cell">15 September at 2:30pm</td>
                <td class="govuk-table__cell"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                    </label>
                  </div>
                </th>
                <td scope="row" class="govuk-table__header">Urgently consider jurisdiction and invite any representations
                  <br>
                  <span style="font-weight: normal;">The court has jurisdiction, based on all of the relevant law and facts, for example habitual residency.</span>
                  </td>
                <td class="govuk-table__cell">15 September at 2:30pm</td>
                <td class="govuk-table__cell"><a href="">Change</a></td>
              </tr>
            </tbody>
          </table>

          <button class="govuk-button govuk-button--secondary" aria-disabled="true">Add another direction</button>



        </div>
      </fieldset>


          <a href="parents" class="govuk-button" style="font-size: 19px !important;">Save and continue</a>

        </main>

      </div>

    </div>


    {% endblock %}
