

{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Amend standard directions order</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <p>The order is already sealed by the court. You can only make minor changes to it, for example correcting typos.</p>

              <div class="govuk-inset-text">
                You must make a C21 application for changes that affect the order. This includes adding, removing or changing the substance of directions.
              </div>



            <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
            <a href="judges-name" class="govuk-button" style="font-size: 19px !important;">Continue</a>

            <p><a href="">Cancel</a></p>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
