
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Upload social work documents</h1>
            <br>
            <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>


            <button class="govuk-button govuk-button--secondary">Previous</button>
            <a href="3-case-view" class="govuk-button" style="font-size: 19px !important;">Save and continue</a>

            <p><a href="3-case-view">Cancel</a></p>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
