
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Next steps</h1>
            <br>
            <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

            <p class="govuk-body">You need to amend or add the following:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Add your last name</li>
                <li>Add your address</li>
              </ul>

            <p class="govuk-body">Use the 'Previous' button do that now, or come back later. You cannot submit your application until this is done.</p>

            <p class="govuk-body">You can also add information about the <a href="hearings-needed">hearings needed</a>, or continue to return to the application index page.</p>


            <button class="govuk-button govuk-button--secondary" style="font-size: 1em !important;">Previous</button>
            <a href="3-case-view" class="govuk-button" style="font-size: 1em !important;">Close and return to case details</a>

            <p><a href="3-case-view">Cancel</a></p>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
