
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <!-- <h1 class="govuk-heading-xl">Submit application</h1>
            <br>
            <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3> -->

            <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title" style="font-size: 32px;">
              Application sent
            </h1>
            <div class="govuk-panel__body" style="font-size: 24px;">
              Swansea v Smith.
              <br>CCD ID 12345678987.
              <br>Interim care order.

            </div>
          </div>

          <!-- <h2 class="govuk-heading-m">Application sent</h2>
            <p>Swansea v Smith.
            <br>CCD ID 12345678987.
            <br>Interim care order.</p> -->



          <p>We’ve sent a confirmation to <a href="">solicitor@email.com</a></p>



          <h3 class="govuk-heading-m">What happens next</h3>

            <p>We’ll check your application – we might need to ask you more questions, or send it back to you to amend.</p>
            <p>If we have no questions, we’ll send your application to the local court gatekeeper.</p>


            <p>You can contact us at < ctsc info ></p>

            <p><a href="">What did you think of this service?</a> (Takes 30 seconds)</p>

            <a href="ccd-buffer" class="govuk-button" style="font-size: 19px !important;">Return to case details</a>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
