
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container documents">
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

          <h1 class="govuk-heading-xl">Upload social work documents</h1>
          <br>
          <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>
          <br>

          <p>You can still upload: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Social work assessment</li>
            <li>Care plan</li>
            <li>Anything else not checked on the previous screen</li>
          </ul>

          <!-- <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  What else do you want to upload?
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Social work chronology
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Care plan
                  </label>
                </div>
              </div>
            </fieldset>
          </div> -->

          <p>You can also upload other social work application documents that are not included in this list.</p>

          <form method="post" class="form">

            <div class="govuk-inset-text">

              <h4 class="govuk-heading-s">Upload documents</h4>



              <input type="button" class="govuk-button add" name="answer" value="Add new" onclick="showDirectionOne()" />


              <!-- First direction   -->



              <div id="direction-1"  style="display:none;" class="answer_list" >
                <br>

                <div class="answer_list" >
                  <h4 class="govuk-heading-s inline-block">Upload documents</h4>
                  <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideDirectionOne()" />

                  <div class="govuk-form-group">
                    <label class="govuk-label upload-file" for="file-upload-1" style="height: 20px !important;">
                      Document name

                    </label>
                    <span id="changed-name-hint" class="govuk-hint">
                      Use a meaningful name. For example, Care plan
                    </span>
                    <input class="govuk-input" id="event-name" name="event-name" type="text">
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label upload-file" for="file-upload-1" style="height: 20px !important;">
                      Upload a file
                      <br><br>
                    </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                  </div>



                </div>

                <br>

                <input type="button" id="button-1" class="govuk-button" name="answer" value="Add new" onclick="showDirectionTwo()" />

              </div>

              <!-- end of doc-upload -->

            </div>

            <!-- end of inset text -->


            <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  Outstanding documents
                </h1>
              </legend>
              <span id="changed-name-hint" class="govuk-hint">
                Give a reason and date you expect to provide it if you don’t have the document yet.
              </span>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>



            <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
            <a href="" class="govuk-button" style="font-size: 19px !important;">Continue</a>

            <p><a href="1-case-view">Cancel</a></p>


          </form>


        </div>

      </div>

    </main>

  </div>

</div>

{% endblock %}
