
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Set date for advocates meeting</h1>


        <p>Task was completed by the Local Authority on the 11 April 2019.</p>

        <h2 class="govuk-heading-m">Details</h2>
        <p>Date of advocates meeting set for the 20 April 2019.</p>

        <h2 class="govuk-heading-m">File upload</h2>
        <p>None</p>

      </div>
    </div>

  </main>
</div>

{% endblock %}
