
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft standard directions</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <form method="post" class="form">

                <h3 class="govuk-heading-m">Directions for Cafcass (Optional)</h3>

                <div class="govuk-inset-text">

                  <h4 class="govuk-heading-s">Directions (Optional)</h4>

                  <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showHearingTwo()" />

                  <!-- Direction 17 -->

                  <form method="post" class="form">

                    <div class="answer_list" >
                      <h4 class="govuk-heading-s inline-block">Direction 1</h4>
                      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Direction
                        </label>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Appoint a children’s guardian</textarea>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Description
                        </label>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Preferably [name].</textarea>
                      </div>


                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                          <label class="govuk-label" for="contact-by-phone">
                            Due date
                          </label>
                          <span id="" class="govuk-hint">
                            For example, 31 3 2016
                          </span>
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-10">
                          Due time
                        </label>
                        <span id="passport-issued-hint" class="govuk-hint">
                          For example, 2:30pm
                        </span>
                        <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
                      </div>

                    </div>

                  </form>

                  <!-- Direction 18 -->
                    <br>

              <form method="post" class="form">

                <div class="answer_list" >
                  <h4 class="govuk-heading-s inline-block">Direction 2</h4>
                  <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Direction
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Arrange an advocates’ meeting</textarea>
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Description
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">All of the advocates who will appear at the related hearing must attend.</textarea>
                  </div>


                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                      <label class="govuk-label" for="contact-by-phone">
                        Due date
                      </label>
                      <span id="" class="govuk-hint">
                        For example, 31 3 2016
                      </span>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10">
                      Due time
                    </label>
                    <span id="passport-issued-hint" class="govuk-hint">
                      For example, 2:30pm
                    </span>
                    <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
                  </div>

                </div>

              </form>

              <br>

            <!-- Direction 19 -->

            <form method="post" class="form">

              <div class="answer_list" >
                <h4 class="govuk-heading-s inline-block">Direction 3</h4>
                <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingOne()" />
                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Direction
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint">Send the children’s guardian’s analysis to all parties</textarea>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Description
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Send to the court and all parties.</textarea>
                </div>


                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                    <label class="govuk-label" for="contact-by-phone">
                      Due date
                    </label>
                    <span id="" class="govuk-hint">
                      For example, 31 3 2016
                    </span>
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-10">
                    Due time
                  </label>
                  <span id="passport-issued-hint" class="govuk-hint">
                    For example, 2:30pm
                  </span>
                  <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
                </div>

              </div>

            </form>

            <br>

            <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showHearingTwo()" />


            <!-- Second additional hearing   -->



            <div id="second-hearing"  style="display:none;" class="answer_list" >
              <br>

              <form method="post" class="form">

              <div class="answer_list" >
                <h4 class="govuk-heading-s inline-block">Direction 4</h4>
                <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideHearingTwo()" />
                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Direction
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Description
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                    <label class="govuk-label" for="contact-by-phone">
                      Due date
                    </label>
                    <span id="" class="govuk-hint">
                      For example, 31 3 2016
                    </span>
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-10">
                    Due time
                  </label>
                  <span id="passport-issued-hint" class="govuk-hint">
                    For example, 2:30pm
                  </span>
                  <input class="govuk-input govuk-input--width-10" id="time" name="hearing-start" type="text" value="">
                </div>

              </div>

            </form>

            <br>

            <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showHearingThree()" />

            </div>

            </div>

          </div>

          </div>

          <button class="govuk-button govuk-button--secondary">Previous</button>
          <a href="other-tasks" class="govuk-button" style="font-size: 19px !important;">Continue</a>

          <p><a href="">Cancel</a></p>


          </form>


        </div>

        </div>

        </main>

        </div>

        </div>


{% endblock %}
