{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft standard directions order</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <table class="govuk-table ccd-table">
                <caption class="govuk-table__caption ccd-table-head">Hearing 1</caption>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-header">Date</td>
                    <td class="govuk-table__cell">15 September 2019</td>
                  </tr>
                </tbody>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-header">Time of hearing</td>
                    <td class="govuk-table__cell">2:30pm</td>
                  </tr>
                </tbody>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-header">Venue</td>
                    <td class="govuk-table__cell">Family Court Swansea</td>
                  </tr>
                </tbody>
              </table>

              <h3 class="govuk-heading-m">For the local authority</h3>

              <h4 class="govuk-heading-s">Serve the application and documents</h4>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
                  <span id="citizenship-conditional-hint" class="govuk-hint">
                    Select all options that are relevant to you.
                  </span>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        the application form
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        annex documents
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        evidential checklist documents
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        any documents sent later on
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                  <label class="govuk-label" for="contact-by-phone">
                    Due date
                  </label>
                  <span id="" class="govuk-hint">
                    For example, 31 3 2016
                  </span>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>


              <h4 class="govuk-heading-s">Send missing annex documents to the court and all parties</h4>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
                  <span id="citizenship-conditional-hint" class="govuk-hint">
                    Select all options that are relevant to you.
                  </span>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                        Social work chronology
                      </label>
                    </div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Social work statement
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Family tree (genogram)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Social work assessment
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Care plan
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Threshold document
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Index of checklist documents
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                  <label class="govuk-label" for="contact-by-phone">
                    Due date
                  </label>
                  <span id="" class="govuk-hint">
                    For example, 31 3 2016
                  </span>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>


              </div>

              </div>

              <button class="govuk-button govuk-button--secondary">Previous</button>
              <a href="directions-3" class="govuk-button" style="font-size: 19px !important;">Continue</a>

              <p><a href="">Cancel</a></p>


              </form>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
