
{% extends "layout-admin.html" %}

<!-- <link rel="stylesheet" type="text/css" href="public/stylesheets/full-width.css"> -->


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">#1545-3874-6217-4575</h1>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group ccd-dropdown">
          <label class="govuk-label" for="sort">
            Next step
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="">Select action</option>
            <option value="">Send to gatekeeper</option>
            <option value="">Documents</option>
            <option value="">Add case number</option>
            <option value="">Add hearing details</option>
          </select>
          <a href="complete-tasks" class="govuk-button">Go</a>
        </div>
      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-tabs" data-module="tabs">

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#history">
                History
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#orders-and-hearing">
                Orders and hearing
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#people">
                People in the case
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#legal-basis">
                Legal basis
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#documents">
                Documents
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="history">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-m">History</h3>

              <table class="govuk-table history-table" id="rowClick">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Event</th>
                    <th class="govuk-table__header" scope="col">Date</th>
                    <th class="govuk-table__header" scope="col">Author</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row history-row" data-tab="one">
                    <td class="govuk-table__cell"><a href="">Open case</a></td>
                    <td class="govuk-table__cell">3 Jan 2019 3:48 24 PM</td>
                    <td class="govuk-table__cell">Tester TESTER</td>
                  </tr>
                  <tr class="govuk-table__row history-row" data-tab="two">
                    <td class="govuk-table__cell"><a href="">Event name</a></td>
                    <td class="govuk-table__cell">Date</td>
                    <td class="govuk-table__cell">Author</td>
                  </tr>
                  <tr class="govuk-table__row history-row" data-tab="three">
                    <td class="govuk-table__cell"><a href="">Event name</a></td>
                    <td class="govuk-table__cell">Date</td>
                    <td class="govuk-table__cell">Author</td>
                  </tr>
                </tbody>
              </table>

            </div>

            <div class="details-content" id="one">
              <div class="govuk-grid-column-one-half details-table" >
              <h3 class="govuk-heading-m">Details</h3>

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row history-row" data-tab="one">
                    <td class="govuk-table__cell">Date</td>
                    <td class="govuk-table__cell">10 Dec 2018 2:55 24 PM</td>
                  </tr>
                  <tr class="govuk-table__row history-row">
                    <td class="govuk-table__cell">Author</td>
                    <td class="govuk-table__cell">Judge</td>
                  </tr>
                  <tr class="govuk-table__row history-row">
                    <td class="govuk-table__cell">End state</td>
                    <td class="govuk-table__cell">Open</td>
                  </tr>
                  <tr class="govuk-table__row history-row">
                    <td class="govuk-table__cell">Event</td>
                    <td class="govuk-table__cell">Open case</td>
                  </tr>
                  <tr class="govuk-table__row history-row">
                    <td class="govuk-table__cell">Summary</td>
                    <td class="govuk-table__cell">-</td>
                  </tr>
                  <tr class="govuk-table__row history-row">
                    <td class="govuk-table__cell">Comment</td>
                    <td class="govuk-table__cell">-</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>


          <div class="details-content" id="two">
            <div class="govuk-grid-column-one-half details-table" >
            <h3 class="govuk-heading-m">Details</h3>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row history-row" data-tab="one">
                  <td class="govuk-table__cell">Date</td>
                  <td class="govuk-table__cell">12 Dec 2018 9:15 AM</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Author</td>
                  <td class="govuk-table__cell">Local authority</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">End state</td>
                  <td class="govuk-table__cell">Open</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Event</td>
                  <td class="govuk-table__cell">Open case</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Summary</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Comment</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>


        <div class="details-content" id="three">
          <div class="govuk-grid-column-one-half details-table" >
          <h3 class="govuk-heading-m">Details</h3>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row history-row" data-tab="one">
                  <td class="govuk-table__cell">Date</td>
                  <td class="govuk-table__cell">3 Jan 2019 3:48 24 PM</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Author</td>
                  <td class="govuk-table__cell">Tester TESTER</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">End state</td>
                  <td class="govuk-table__cell">Open</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Event</td>
                  <td class="govuk-table__cell">Open case</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Summary</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
                <tr class="govuk-table__row history-row">
                  <td class="govuk-table__cell">Comment</td>
                  <td class="govuk-table__cell">-</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>

      </section>

      <section class="govuk-tabs__panel" id="orders-and-hearing">

      </section>

      <section class="govuk-tabs__panel" id="people">

      </section>

      <section class="govuk-tabs__panel" id="legal-basis">

      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="documents">

      </section>

    </div>

  </div>

  </div>

</main>
</div>

{% endblock %}
