
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Add hearing details</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>
              <br>

                <form action="check-my-answers" method="post" class="form">

                <a href="complete-tasks" class="govuk-button govuk-button--secondary" style="font-size: 18px !important;">Previous</a>
                <a href="case-view" class="govuk-button govuk-button--secondary" style="font-size: 18px !important;">Save and continue</a>

                <p><a href="">Cancel</a></p>

              </form>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
