
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Add hearing details</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>
              <br>

                <form action="ccd-buffer" method="post" class="form">

                  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Venue
                      </label>
                      <input class="govuk-input" id="registration-number" name="hearing-venue" type="text">
                    </div>
                  </fieldset>

                  <!-- <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Date
                      </label>
                      <input class="govuk-input" id="registration-number" name="hearing-date" type="text">
                    </div>
                  </fieldset> -->

                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                      <label class="govuk-label" for="contact-by-phone">
                        Date
                      </label>
                      <span id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </span>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Time of hearing
                      </label>
                      <input class="govuk-input" id="registration-number" name="hearing-start" type="text">
                    </div>
                  </fieldset>

                <button class="govuk-button govuk-button--secondary" disabled="disabled" aria-disabled="true">Previous</button>
                <button class="govuk-button">Continue</button>

                <p><a href="">Cancel</a></p>

              </form>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
