

{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft and issue standard directions order</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

                <h3 class="govuk-heading-m">Court details</h3>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Judge or magistrates’s title
                  </label>
                  <span id="event-name-hint" class="govuk-hint">
                    For example, His Honour Judge or District Judge
                  </span>
                  <input class="govuk-input" id="width-20" name="hearing-venue" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Judge or magistrates’s last name
                  </label>
                  <input class="govuk-input" id="width-20" name="hearing-venue" type="text">
                </div>

                <div class="govuk-radios" id="other-role">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Legal advisor's full name (optional)
                    </label>
                    <input class="govuk-input" type="text" name="">

                  </div>
                </div>

                <div class="govuk-radios" id="other-role">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Court name
                    </label>
                    <input class="govuk-input" type="text" name="">

                  </div>
                </div>

          </div>

        </div>

      </div>

      <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
      <a href="ccd-buffer" class="govuk-button" style="font-size: 19px !important;">Continue</a>

      <p><a href="">Cancel</a></p>



              </div>

              </div>


              </form>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
