

{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Issue standard directions order</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label" for="width-20">
                    Court title
                  </label>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                        Family Court
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                        High Court Family Division
                      </label>
                    </div>

                  </div>
                </fieldset>
              </div>



              <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                  <label class="govuk-label" for="width-20">
                    Judge or magistrate’s title
                  </label>

                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                      <!-- No -->

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-no" name="serve-application-and-documents-status" type="radio" value="Incomplete" data-aria-controls="her" >
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                          Her Honour Judge
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-no" name="serve-application-and-documents-status" type="radio" value="Incomplete" data-aria-controls="his" >
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                          His Honour Judge
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-no" name="serve-application-and-documents-status" type="radio" value="Incomplete" data-aria-controls="his" >
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                          Designated Family Judge
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-no" name="serve-application-and-documents-status" type="radio" value="Incomplete" data-aria-controls="district" >
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                          Deputy District Judge
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="serve-application-and-documents-yes" name="serve-application-and-documents-status" type="radio" value="Complete" data-aria-controls="magistrate"  >
                        <label class="govuk-label govuk-radios__label" for="serve-application-and-documents-yes">
                          Magistrates (JP)
                        </label>
                      </div>

                    </div>
                  </fieldset>

                </div>

                <div class="govuk-form-group">

                  <div class="govuk-radios" id="other-role">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="width-20">
                        Judge or magistrate's name
                      </label>
                      <input class="govuk-input" type="text" name="">

                    </div>
                  </div>

                </div>


                <div class="govuk-radios" id="other-role">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Legal advisor's name (optional)
                    </label>
                    <input class="govuk-input" type="text" name="">

                  </div>
                </div>


          </div>

        </div>

      </div>

      <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
      <a href="all-parties" class="govuk-button" style="font-size: 19px !important;">Continue</a>

      <p><a href="">Cancel</a></p>



              </div>

              </div>


              </form>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
