
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">

              <h1 class="govuk-heading-xl">Allocation decision</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <h3 class="govuk-heading-m">Allocation decision</h3>

              <form action="check-my-answers" method="post" class="form">

                <div class="govuk-inset-text">
                  <p>The local authority has not made an allocation proposal. </p>
                </div>

                <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

                  <div class="" id="serve-application-no">


                    <h4 class="govuk-heading-s">Which level of judge is needed?</h4>
                    <form action="check-my-answers" method="post" class="form">

                      <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                              Lay justices (magistrates)
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                              District judge
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                              Circuit judge
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                              Section 9 circuit judge
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                              High Court judge
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="more-detail">
                        Give reason
                      </label>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>

                    </form>
                  </div>
                  </fieldset>

                  <br>

                  <button class="govuk-button govuk-button--secondary" disabled="disabled" aria-disabled="true">Previous</button>
                  <a href="ccd-buffer" class="govuk-button" style="font-size: 19px !important;">Continue</a>

                  <p><a href="">Cancel</a></p>

                </form>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
