
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft CMO</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <h3 class="govuk-heading-m">For the parents or respondents</h3>

              <p>Respondent 1 - Joe Bloggs</p>
              <p>Respondent 2 - Jessica Bloggs</p>
              <p>Respondent 3 - Matthew Bloggs</p>


              <form method="post" class="form">

                <div class="govuk-inset-text">

                  <h4 class="govuk-heading-s">Add directions</h4>



                  <input type="button" class="govuk-button add" name="answer" value="Add new" onclick="showDirectionOne()" />


                  <!-- First direction   -->



                  <div id="direction-1"  style="display:none;" class="answer_list" >
                    <br>

                    <div class="answer_list" >
                      <h4 class="govuk-heading-s inline-block">Add directions</h4>
                      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideDirectionOne()" />
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Title
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          You must include a brief direction summary
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Description
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          Add more details
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            For
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">Respondent 1</option>
                            <option value="updated">Respondent 2</option>
                            <option value="views">Respondent 3</option>
                            <option value="comments">Respondent 4</option>
                            <option value="comments">Respondent 5</option>
                            <option value="comments">Respondent 6</option>
                            <option value="comments">Respondent 7</option>
                            <option value="comments">Respondent 8</option>
                            <option value="comments">Respondent 9</option>
                            <option value="comments">Respondent 10</option>
                          </select>
                        </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                          <label class="govuk-label" for="contact-by-phone">
                            Due date and time (Optional)
                          </label>
                          <span id="" class="govuk-hint">
                            For example, 31 3 2016 2 30 00
                          </span>
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Seconds
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>


                          </div>
                        </fieldset>
                      </div>



                    </div>

                  <br>

                  <input type="button" id="button-1" class="govuk-button" name="answer" value="Add new" onclick="showDirectionTwo()" />

                  </div>


                  <!-- Direction 2-->


                  <div id="direction-2"  style="display:none;" class="answer_list" >
                    <br>

                    <div class="answer_list" >
                      <h4 class="govuk-heading-s inline-block">Add directions 2</h4>
                      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideDirectionTwo()" />
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Title
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          You must include a brief direction summary
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Description
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          Add more details
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            For
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">Respondent 1</option>
                            <option value="updated">Respondent 2</option>
                            <option value="views">Respondent 3</option>
                            <option value="comments">Respondent 4</option>
                            <option value="comments">Respondent 5</option>
                            <option value="comments">Respondent 6</option>
                            <option value="comments">Respondent 7</option>
                            <option value="comments">Respondent 8</option>
                            <option value="comments">Respondent 9</option>
                            <option value="comments">Respondent 10</option>
                          </select>
                        </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                          <label class="govuk-label" for="contact-by-phone">
                            Due date and time (Optional)
                          </label>
                          <span id="" class="govuk-hint">
                            For example, 31 3 2016 2 30 00
                          </span>
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Seconds
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>


                          </div>
                        </fieldset>
                      </div>



                    </div>

                  <br>

                  <input type="button" id="button-2" class="govuk-button" name="answer" value="Add new" onclick="showDirectionThree()" />

                  </div>



                  <!-- Direction 3-->


                  <div id="direction-3"  style="display:none;" class="answer_list" >
                    <br>

                    <div class="answer_list" >
                      <h4 class="govuk-heading-s inline-block">Add directions 3</h4>
                      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideDirectionThree()" />
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Title
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          You must include a brief direction summary
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Description
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          Add more details
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            For
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">Respondent 1</option>
                            <option value="updated">Respondent 2</option>
                            <option value="views">Respondent 3</option>
                            <option value="comments">Respondent 4</option>
                            <option value="comments">Respondent 5</option>
                            <option value="comments">Respondent 6</option>
                            <option value="comments">Respondent 7</option>
                            <option value="comments">Respondent 8</option>
                            <option value="comments">Respondent 9</option>
                            <option value="comments">Respondent 10</option>
                          </select>
                        </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                          <label class="govuk-label" for="contact-by-phone">
                            Due date and time (Optional)
                          </label>
                          <span id="" class="govuk-hint">
                            For example, 31 3 2016 2 30 00
                          </span>
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Seconds
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>


                          </div>
                        </fieldset>
                      </div>



                    </div>

                  <br>

                  <input id="button-3" type="button" class="govuk-button" name="answer" value="Add new" onclick="showDirectionFour()" />

                  </div>


                  <!-- Direction 4-->


                  <div id="direction-4"  style="display:none;" class="answer_list" >
                    <br>

                    <div class="answer_list" >
                      <h4 class="govuk-heading-s inline-block">Add directions 4</h4>
                      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideDirectionFour()" />
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Title
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          You must include a brief direction summary
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Description
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          Add more details
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            For
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">Respondent 1</option>
                            <option value="updated">Respondent 2</option>
                            <option value="views">Respondent 3</option>
                            <option value="comments">Respondent 4</option>
                            <option value="comments">Respondent 5</option>
                            <option value="comments">Respondent 6</option>
                            <option value="comments">Respondent 7</option>
                            <option value="comments">Respondent 8</option>
                            <option value="comments">Respondent 9</option>
                            <option value="comments">Respondent 10</option>
                          </select>
                        </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                          <label class="govuk-label" for="contact-by-phone">
                            Due date and time (Optional)
                          </label>
                          <span id="" class="govuk-hint">
                            For example, 31 3 2016 2 30 00
                          </span>
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Seconds
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>


                          </div>
                        </fieldset>
                      </div>



                    </div>

                  <br>

                  <input id="button-4" type="button" class="govuk-button" name="answer" value="Add new" onclick="showDirectionFive()" />

                  </div>



                  <!-- Direction 5-->


                  <div id="direction-5"  style="display:none;" class="answer_list" >
                    <br>

                    <div class="answer_list" >
                      <h4 class="govuk-heading-s inline-block">Add directions 5</h4>
                      <input type="button" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" onclick="hideDirectionFive()" />
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Title
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          You must include a brief direction summary
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                          Description
                        </label>
                        <span id="changed-name-hint" class="govuk-hint">
                          Add more details
                        </span>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      </div>

                      <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            For
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">Respondent 1</option>
                            <option value="updated">Respondent 2</option>
                            <option value="views">Respondent 3</option>
                            <option value="comments">Respondent 4</option>
                            <option value="comments">Respondent 5</option>
                            <option value="comments">Respondent 6</option>
                            <option value="comments">Respondent 7</option>
                            <option value="comments">Respondent 8</option>
                            <option value="comments">Respondent 9</option>
                            <option value="comments">Respondent 10</option>
                          </select>
                        </div>
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                          <label class="govuk-label" for="contact-by-phone">
                            Due date and time (Optional)
                          </label>
                          <span id="" class="govuk-hint">
                            For example, 31 3 2016 2 30 00
                          </span>
                          <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                  Seconds
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="hearing-date" type="number" pattern="[0-9]*" value="">
                              </div>
                            </div>


                          </div>
                        </fieldset>
                      </div>



                    </div>

                  <br>

                  <input type="button" class="govuk-button" name="answer" value="Add new" onclick="showDirectionTwo()" />

                  </div>


                  </div>

                </div>

                </div>

                <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
                <a href="cafcass" class="govuk-button" style="font-size: 19px !important;">Continue</a>

                <p><a href="">Cancel</a></p>


              </div>

              </div>


              </form>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
