
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Upload placement application</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>
              <br>

              <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    A50 placement application
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">placement-application.pdf</a>
                  </dd>
                </div>
              </dl>

              <h4 class="govuk-heading-s">Associated placement documents</h4>

              <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Document
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">document.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Give details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </dd>
                </div>
              </dl>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Document 1
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">document.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Give details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </dd>
                </div>
              </dl>

              <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Document 2
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">document.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Give details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </dd>
                </div>
              </dl>

              <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Document 3
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">document.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Give details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </dd>
                </div>
              </dl>

              <dl class="govuk-summary-list govuk-!-margin-bottom-7">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Document 4
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <a href="">document.pdf</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Give details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </dd>
                </div>
              </dl>


              <form method="post" class="form">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Event summary (Optional)
                  </label>
                  <span id="" class="govuk-hint">
                    Enter a few words describing what you've done
                  </span>
                  <input class="govuk-input" type="text" name="" value="">
                </div>

                <br>

              <a href="complete-tasks" class="govuk-button govuk-button--secondary" style="font-size: 18px !important;">Previous</a>
              <a href="2-case-view" class="govuk-button" style="font-size: 18px !important;">Save and continue</a>

              <p><a href="">Cancel</a></p>

            </form>


          </div>

        </main>

    </div>

</div>


{% endblock %}
