
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Comply with standard directions order</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                <h4 class="govuk-heading-s">Direction</h4>

                <p>Send missing annex documents to the court and all parties</p>

                <h4 class="govuk-heading-s">Description</h4>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Social work chronology</li>
                    <li>Social work statement</li>
                    <li>evidential checklist documents</li>
                    <li>Family tree (genogram)</li>
                    <li>Social work assessment</li>
                    <li>Care plan</li>
                    <li>Threshold document</li>
                    <li>Index of checklist documents</li>
                  </ul>

                <h4 class="govuk-heading-s">Due date and time</h4>

                <p>4pm, 1 June 2019</p>

                <h4 class="govuk-heading-s">Can you do this now?</h4>

                <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                  <!-- Yes -->

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="serve-application-and-documents-yes" name="serve-application-and-documents-status" type="radio" value="Complete" data-aria-controls="serve-application-yes">
                    <label class="govuk-label govuk-radios__label" for="serve-application-and-documents-yes">
                      Yes
                    </label>
                  </div>

                  <!-- No -->

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-no" name="serve-application-and-documents-status" type="radio" value="Incomplete" data-aria-controls="serve-application-no" >
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      No
                    </label>
                  </div>

                  <!-- Contidtional yes -->

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="serve-application-yes">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="serve-application-give-details">
                        Give details
                      </label>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                      <label class="govuk-label" for="file-upload-1">
                        <br>
                        <h3 class="govuk-heading-s">Upload file (Optional)</h3>
                        <span id="changed-name-hint" class="govuk-hint">
                          You can upload JPG, BMP, PNG, TIF or PDF files up to 10MB in size.
                        </span>
                      </label>

                      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                      <br><br>

                      <label class="govuk-label" for="contact-by-email">
                        File name
                      </label>
                      <input class="govuk-input" id="registration-number" name="serve-application-details-yes" type="text">

                      <br><br>

                      <label class="govuk-label" for="contact-by-email">
                        Notes (optional)
                      </label>
                      <input class="govuk-input" id="registration-number" name="serve-application-details-yes" type="text">

                    </div>
                  </div>

                  <!-- Contidtional no -->

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="serve-application-no">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        Can you tell us why?
                      </label>
                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>
                  </div>

                </div>

            </fieldset>

            <br>

            <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
            <a href="comply-all-directions-3" class="govuk-button" style="font-size: 19px !important;">Continue</a>
            <p><a href="">Cancel</a></p>




              </div>

              </div>


              </form>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
