
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container documents">
  <div class="govuk-width-container">

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

          <p><a href="event">Option 1</a></p>
          <p><a href="event-4">Option 2</a></p>
          <p><a href="event-5">Option 3</a></p>

          <br>

          <h1 class="govuk-heading-xl">Upload documents</h1>
          <br>
          <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  What type of document are you uploading?
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Further evidence documents
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Correspondence
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
          <a href="event-2" class="govuk-button" style="font-size: 19px !important;">Continue</a>

          <p><a href="1-case-view">Cancel</a></p>


        </div>

      </div>

    </main>

  </div>

</div>

{% endblock %}
