
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Issue standard directions</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <form method="post" class="form">

                <h3 class="govuk-heading-m">Issue standard directions</h3>

                <h3 class="govuk-heading-m">Who drafted the order?</h3>

                <h4 class="govuk-heading-s">Judge or magistrate</h4>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Title
                  </label>
                  <span id="event-name-hint" class="govuk-hint">
                    For example, HHJ
                  </span>
                  <input class="govuk-input" id="width-20" name="hearing-venue" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Full name
                  </label>
                  <input class="govuk-input" id="width-20" name="hearing-venue" type="text">
                </div>

                <h4 class="govuk-heading-s inline-block">Legal advisor (Optional)</h4>


                <div class="govuk-radios" id="other-role">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Full name (optional)
                    </label>
                    <input class="govuk-input" type="text" name="">
                    <br><br>
                  </div>
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                      <h3 class="govuk-heading-m">
                        Declaration
                      </h3>
                    </legend>

                    <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="waste">
                          I, Hmcts-admin@example.com (Hmcts-admin), have the authority to issue the standard directions order.
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>


                <br>

                <button class="govuk-button govuk-button--secondary" disabled="disabled" aria-disabled="true">Previous</button>
                <a href="ccd-buffer-2" class="govuk-button" style="font-size: 19px !important;">Continue</a>

                <p><a href="">Cancel</a></p>


            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
