
{% extends "layout-admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">Documents</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>
              <br>

                <form method="post" class="form">

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      Event summary (Optional)
                    </label>
                    <span id="" class="govuk-hint">
                      Enter a few words describing what you've done
                    </span>
                    <input class="govuk-input" type="text" name="" value="">
                  </div>

                <a href="complete-tasks" class="govuk-button govuk-button--secondary" style="font-size: 18px !important;">Previous</a>
                <a href="case-view" class="govuk-button" style="font-size: 18px !important;">Save and continue</a>

                <p><a href="">Cancel</a></p>

              </form>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
