<div class="header-admin">
  <header class="govuk-header ccd-header" role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container" style="border: none;">

      <div class="govuk-header__content">

        <a href="../../index.html" class="govuk-header__link govuk-header__link--service-name">
          Family Public Law
        </a>

        <span>
            Sam@hillingdon.gov.uk (Local-authority)
            <a href="#" class="govuk-header__link">
              Sign out
            </a>
        </span>

        <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>

      </div>

</header>

<div class="ccd-blue-banner">
  <nav>
    <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="#1">
          Case list
        </a>
      </li>
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="#2">
          Create case
        </a>
      </li>
      <li class="govuk-header__navigation-item right-aligned">
        <a class="govuk-header__link" href="#2">
          Search
        </a>
      </li>
    </ul>
  </nav>


</div>


</div>
