
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Family and Public Law and the Adoption service
      </h1>

      <!-- <h3 class="govuk-heading-m"><a href="fpl/version-1/case-list.html">Version 1</a></h3> -->
      <br>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Private beta enhancements
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As a local authority:</p>
          <p><a href="private-beta/documents">Documents</a> - Changing dropdowns to radio buttons (FPLA-355)</p>
        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Complying with orders
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-m">Pre-ccd styling</h3>
          <p>As a local authority:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="task-management/old/version-1/task-management/concept-1/case-view.html">Concept 1</a> - View list of tasks</li>
            <li><a href="task-management/old/version-1/task-management/concept-2/case-view.html">Concept 2</a> - Create my own task</li>
            <li><a href="task-management/old/version-1/task-management/concept-3/case-view.html">Concept 3</a> - Checklist</li>
            <li><a href="task-management/old/version-1/task-management/concept-4/case-view.html">Concept 4</a> - Using the task list model</li>
            <li><a href="task-management/old/version-1/task-management/concept-/case-view.html">Concept 5</a> - Task that can be assigned to any party</li>
          </ul>

          <h3 class="govuk-heading-m">CCD - Version 1</h3>
          <p><a href="task-management/v1/case-view">Complying with orders</a></p>
        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Confidentiality
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As an local authority:</p>
          <p><a href="confidentiality/fpla-262/case-view">FPLA-262</a> - I need to submit C8 during open case</p>

          <p>As an HMCTS admin:</p>
          <p><a href="confidentiality/fpla-583/1-case-view">FPLA-583</a> - I need to change confidentiality setting for contact details</p>
        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Hearing details
          </span>
        </summary>
        <div class="govuk-details__text">
          <h4 class="govuk-heading-s">Version 1</h4>

          <p>As an HMCTS admin:</p>
          <p><a href="hearing-details/fpla-46/1-case-view">FPLA-46</a> - I need to add hearing booking details to case</p>

          <h4 class="govuk-heading-s">Version 2</h4>

          <p>As an HMCTS admin:</p>
          <p><a href="hearing-details/fpla-46-v2/1-case-view">FPLA-46</a> - I need to add hearing booking details to case</p>

          <h4 class="govuk-heading-s">Version 3</h4>

          <p>Scenario:</p>
          <ol class="govuk-list govuk-list--number">
            <li>The Case management and Further case management hearings have already passed. The HMCTS admin needs to add hearing details for the Issue resolution and the final hearing.</li>
            <li>The HMCTS admin needs to update the hearing date for the Final hearing.</li>
          </ol>

          <p>As an HMCTS admin:</p>
          <p><a href="hearing-details/fpla-46-v3/1-case-view">FPLA-46</a> - I need to add hearing booking details to case</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Hearing needs
          </span>
        </summary>
        <div class="govuk-details__text">
          <h4 class="govuk-heading-s">Version 1</h4>

          <p>Scenario using the "add hearing hearing details" event:</p>
          <ol class="govuk-list govuk-list--number">
            <li>Add new - first instance shows textarea.</li>
            <li>Add new - second instance shows radio buttons.</li>
          </ol>

          <p>As a caseworker charged with listing a case:</p>
          <p><a href="hearing-needs/fpla-599-v1/1-case-view">FPLA-599</a> - I need to add hearing needs details to the case (at booking)</p>

          <h4 class="govuk-heading-s">Version 2</h4>

          <p>As a caseworker charged with listing a case:</p>
          <p><a href="hearing-needs/fpla-599-v2/1-case-view">FPLA-599</a> - I need to add hearing needs details to the case (at booking)</p>

        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Make allocation decision
          </span>
        </summary>
        <div class="govuk-details__text">
          <h4 class="govuk-heading-s">Version 1</h4>

          <p>As a Gatekeeper:</p>
          <p><a href="allocation/fpla-60-v1/1-case-view">FPLA-60</a> - I need to make the allocation decision</p>


        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Orders
          </span>
        </summary>
        <div class="govuk-details__text">
          <h4 class="govuk-heading-s">C6 and C6a</h4>
          <p class="govuk-body govuk-!-font-weight-bold">Version 1</p>
          <p>Event to create an order</p>
          <p>As a As HMCTS Admin/Gatekeeper/Judge:</p>
          <p><a href="c6/fpla-634-v1/1-case-view">FPLA-634</a> - I need to produce a C6 pdf</p>


        </div>
      </details>


    </div>
  </div>
</div>

{% endblock %}
