
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container custom-checkbox-table">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Family and Public Law prototypes based on the CCD UI
      </h1>

      <!-- <h3 class="govuk-heading-m"><a href="fpl/version-1/case-list.html">Versio 1</a></h3> -->
      <br>

      <strong class="govuk-tag govuk-tag--grey">
      Design review May 2020
      </strong>

      <br><br><br>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Standard directions order
          </span>
        </summary>
        <div class="govuk-details__text">

          <p>Discussions on the design (as is and iterations) can be <a href="https://miro.com/app/board/o9J_kvABlgs=/?moveToWidget=3074457347819975252&cot=13">found on Miro</a> and on <a href="https://tools.hmcts.net/jira/browse/FPLA-1658">Jira - FPLA-1658</a>.</p>
          <h4 class="govuk-heading-s">End to end journeys</h4>
          <p><a href="standard-directions/fpla-419-v6/1-case-view">Version 1</a> - Taking diretions out of the add new collection. Cleaning up the noisy content.</p>

          <p><a href="standard-directions/wild-ideas/1-case-view">Version 2</a> - Moving to a checkbox pattern, where users can manage items in a list. (Maybe a little too out there for CCD, but a good conversation point.)</p>

          <h4 class="govuk-heading-s">Single page iterations</h4>

          <p><a href="standard-directions/single-page-iterations/all-parties">Directions for all parties</a> - checkbox pattern</p>

        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Case management order
          </span>
        </summary>
        <div class="govuk-details__text">
          <h4 class="govuk-heading-s">Current CMO journey in live service</h4>
            <p><a href="cmo/fpla-886-v3/1-case-view">Current journey</a> - May 2020</p>

          </div>
        </details>


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Case view
            </span>
          </summary>
          <div class="govuk-details__text">
              <p><a href="task-list/v1/1-case-view">Task list</a> - iteration 1</p>
              <p><a href="task-list/v1/2-case-view">Task list</a> - iteration 2</p>
              <p><a href="task-list/v1/3-case-view">Task list</a> - iteration 3</p>
              <p><a href="task-list/v1/confirmation">Confirmation page</a> - iteration 1</p>

            </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Prototype for Judicial review group
              </span>
            </summary>
            <div class="govuk-details__text">
                <p><a href="refer-judge/fpla-1628-v1/1-case-view">FPLA-1628</a> - Refer to Judge</p>
              </div>
            </details>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Document upload
                </span>
              </summary>
              <div class="govuk-details__text">
                <h4 class="govuk-heading-s">
                  Local Authority - c110a
                </h4>
                  <p><a href="task-list/v1/3-case-view">Task list</a> - full journey (will update link to "upload documents" once version is chosen)</p>
                  <p><a href="task-list/v1/upload-documents">Version 1</a> - Type of document in dropdown</p>
                  <p><a href="task-list/v1/upload-documents-2">Version 2</a> - bullet points to highlight the docs the user can upload</p>
                  <p><a href="task-list/v1/upload-documents-3">Version 3</a> - Tick box for "what is included in the SWET"</p>
                  <p><a href="task-list/v1/upload-documents-5">Version 4</a> - Y/N for are you including anything in the  SWET?</p>
                  <p><a href="task-list/v1/upload-documents-6">Version 5</a> - Removing the SWET from the equasion (Colletes)</p>
                <h4 class="govuk-heading-s">
                  Admin
                </h4>
                <p><a href="document-upload/admin/1-case-view">Documents tab</a> - full journey (will update link to "upload documents" once version is chosen)</p>
                  <p><a href="document-upload/admin/event">Version 1</a> - Routing categories - separate collections</p>
                  <p><a href="document-upload/admin/event-4">Version 2</a> - Single collection</p>
                  <p><a href="document-upload/admin/event-6">Version 3</a> - Routing categories + associating to hearing type + c2 application</p>
                  <p><a href="document-upload/admin/event-10">Version 4</a> - Free text to capture + group hearing / c2</p>
                  <p><a href="document-upload/admin/event-12">Version 5</a> - Hearing / c2 routing as routing questions</p>
              </div>
              </details>




      <hr><br>

      <h4 class="govuk-heading-s">History</h4>

      <p><a href="index-old">View old prototypes</a></p>


    </div>
  </div>
</div>

{% endblock %}
