
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Family and Public Law and the Adoption service
      </h1>

      <!-- <h3 class="govuk-heading-m"><a href="fpl/version-1/case-list.html">Version 1</a></h3> -->

      <h2 class="govuk-heading-l">Version 1</h2>

      <h3 class="govuk-heading-m">Task list</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="fpl/version-1/task-management/concept-1/case-view.html">Concept 1</a> - View list of tasks</li>
        <li><a href="fpl/version-1/task-management/concept-2/case-view.html">Concept 2</a> - Create my own task</li>
        <li><a href="fpl/version-1/task-management/concept-3/case-view.html">Concept 3</a> - Checklist</li>
        <li><a href="fpl/version-1/task-management/concept-4/case-view.html">Concept 4</a> - Using the task list model</li>
        <li><a href="fpl/version-1/task-management/concept-/case-view.html">Concept 5</a> - Task that can be assigned to any party</li>


      </ul>

    </div>
</div>

{% endblock %}
