

{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="ccd-container">
  <div class="govuk-width-container">

      <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-half">


              <h1 class="govuk-heading-xl">Draft case management order</h1>
              <br>
              <h3 class="govuk-heading-m">#1545-3874-6217-4575</h3>

              <h3 class="govuk-heading-m">Currently in review</h3>

              <p>The judge is reviewing this version of the case management order. You can only edit this order if the judge requests changes.</p>

              <!-- <div class="govuk-inset-text">
                The judge is reviewing this version of the case management order. You can only edit this order if the judge requests changes.
              </div> -->


            <button class="govuk-button govuk-button--secondary" aria-disabled="true">Previous</button>
            <a href="all-parties" class="govuk-button" style="font-size: 19px !important;">Continue</a>

            <p><a href="">Cancel</a></p>

            </div>

          </div>

        </main>

    </div>

</div>


{% endblock %}
